* {
    font-family: 'Ubuntu', sans-serif !important;
    list-style-type: square;
    color: #555555;
}

p {
    padding: 1em;
}

h1 {
    margin-left: 5vw;
}

li[onclick]:hover, .link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.wrapper {
    padding: 5vw;
    margin-bottom: 5em;
    min-height: calc(100vh - 10em);
}

#loginInfoBox {
    font-weight: bold;
}

.footer {
    bottom: 0;
    width: 100%;
    padding: 0 5vw;
}